/*=============
.bg_pattern
==============*/

.bg_pattern {
    top: 0;
    left: 0;
    background-color: #ffffff;
    opacity: 1;
    z-index: -1;
}

.ZigZag_3D {
    background-color: #ccd;
    background-image: linear-gradient(30deg, #bbc 12%, transparent 12.5%, transparent 87%, #bbc 87.5%, #bbc),
        linear-gradient(150deg, #bbc 12%, transparent 12.5%, transparent 87%, #bbc 87.5%, #bbc),
        linear-gradient(30deg, #bbc 12%, transparent 12.5%, transparent 87%, #bbc 87.5%, #bbc),
        linear-gradient(150deg, #bbc 12%, transparent 12.5%, transparent 87%, #bbc 87.5%, #bbc),
        linear-gradient(60deg, #eef 25%, transparent 25.5%, transparent 75%, #eef 75%, #eef),
        linear-gradient(60deg, #eef 25%, transparent 25.5%, transparent 75%, #eef 75%, #eef);
    background-size: 80px 140px;
    background-attachment: fixed;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.content-wrap {
    min-height: 100vh;
}